In [28]:
import pandas as pd
from string import ascii_uppercase as alphabet
import pickle

In [2]:
all_tables = pd.read_html('https://en.wikipedia.org/wiki/UEFA_Euro_2024')

In [20]:
all_tables[18]
all_tables[25]
all_tables[32]

all_tables[53]

,Pos,Teamvte,Pld,W,D,L,GF,GA,GD,Pts,Qualification
0,1,Germany (H),0,0,0,0,0,0,0,0,Advance to knockout stage
1,2,Scotland,0,0,0,0,0,0,0,0,Advance to knockout stage
2,3,Hungary,0,0,0,0,0,0,0,0,Possible knockout stage based on ranking
3,4,Switzerland,0,0,0,0,0,0,0,0,NaN

In [23]:
all_tables[18].columns

Index(['Pos', 'Team', 'Pld', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts',
       'Qualification'],
      dtype='object')

In [18]:
alphabet

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [25]:
all_tables = pd.read_html('https://en.wikipedia.org/wiki/UEFA_Euro_2024')

dict_table = {}
for letter, i in zip(alphabet, range(18, 60, 7)):
    df = all_tables[i]
    df.rename(columns={'Teamvte': 'Team'}, inplace=True) 
    df.pop('Qualification')
    dict_table[f'Group {letter}'] = df

In [27]:
dict_table['Group F']

   Pos            Team  Pld  W  D  L  GF  GA  GD  Pts
0    1          Turkey    0  0  0  0   0   0   0    0
1    2         Georgia    0  0  0  0   0   0   0    0
2    3        Portugal    0  0  0  0   0   0   0    0
3    4  Czech Republic    0  0  0  0   0   0   0    0

In [29]:
with open('dict_table', 'wb') as output:
    pickle.dump(dict_table, output)